.trans{
    background-color: rgba(255, 255, 255, 0.3);
    
}

.shadowBG{
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.3);
    /* border: 2px solid red; */
}


.flexItem
{
    flex: 9;
}
.flexItem2{
   flex: 7;
}


.productItems:hover{
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
}



/* Responsive */
@media screen and (max-width:700px) {
    .size700
    {
         flex-direction: column;
         padding: 10px;
         height: fit-content;
         
    }

    
    
    .headingSO
    {
        font-size: 40px;
    }
    .specialOfferMainDiv
    {
        height: fit-content;
        
    }

    .bigCircle
    {
        transform: translate(0px);
    }

    .scrollDown
    {
         /* position: relative; */
         /* margin: 50px; */
         bottom: -35px;
         
    }

    .HeroSectionIMG
    {
        /* padding: 20px auto; */
        /* border: 2px solid green; */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
        
    }

    .paddingTOp
    {

        padding-top: 100px;
        
    }
    
}